body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:#f4f4f4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

/* Global */
.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

ul{
  margin:0;
  padding:0;
}


/* Header **/
header{
  background:#E5504C;
  color:#ffffff;
  padding-top:20px;
  padding-bottom:20px;
  min-height:70px;
  max-height:140px;
  border-bottom:#e8491d 3px solid;
}

header a{
  color:#ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding h1{
  margin:0;
}

header nav{
  float:right;
  margin-top:10px;
}

header .highlight, header .current a{
  color:#ffffff;
  font-weight:bold;
}

header a:hover{
  color:#cccccc;
  font-weight:bold;
}

/* Showcase */
#showcase{
  min-height:705px;
  background:url('showcase.png') no-repeat 0 -90px;
  text-align:center;
  color:#000000;
}

#showcase h1{
  margin-top:100px;
  font-size:55px;
  margin-bottom:10px;
}

#showcase p{
  font-size:20px;
}

#showcase li{
  text-align: center;
}



footer{
  padding-top: 7px;
  padding-bottom: 7px;
  color:#ffffff;
  background-color:#E5504C;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin:auto;
  text-align: center;
}

  header{
    padding-bottom:20px;
  }

  #showcase h1{
    margin-top:40px;
  }



}
